body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: 'Open Sans', sans-serif;
}

/*Auth Page*/

.auth-container {
  width: 40%;
  margin: 0 auto;
}

.name {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
}

.main-logo {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

.header-logo {
  font-size: 3rem;
  margin-left: 2rem;
  font-weight: 500;
}

.logout {
  color: black;
  font-weight: 500;
  margin-right: 2rem;
}

.list {
  width: 60%;
  margin: 0 auto;
}

.collection-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.add-item {
  margin-left: 1rem;
}

.input {
  display: flex;
  align-items: center;
}

.plus {
  margin-right: 2rem;
}

.input-field {
  width: 50%;
}

input.validate:focus + label {
  color: #1e88e5!important;
}

input.validate:focus {
  border-bottom: 1px solid #1e88e5 !important;
  box-shadow: 0 1px 0 0 #1e88e5 !important;
}

.header-wrap {
  display: flex;
  flex-direction: row;
}

.wrapper {
  height: 1080px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.every-time {
  margin: 0 5px;
}

.time-element {
  color: gray;
  font-weight: 200;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  height: 60px;
}

.time-element2 {
  color: gray;
  font-weight: 200;
  font-size: 12px;
  height: 60px;
}

.maybe-table {
  position: absolute;
  left: 20%;
  top: 370px;
  z-index: 1;
  width: 60%;
}

.list-events {
  height: 1080px;
  margin-left: 48px;
  display: flex;
}

.event {
  width: 200px;
  position: relative;
  z-index: 5;
  background-color: #E2ECF5;
  border-left: 2px solid #6E9ECF;
  overflow: hidden;
  white-space: pre-wrap;
}

.event-text {
  font-size: 14px;
  margin: 0 5px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event:hover {
  cursor: pointer;
}

.event:hover + .del {
  visibility: visible;
}

@media screen and (min-width: 974px) and (max-width: 1182px) {
  .maybe-table {
    top: 361px;
  }
}

@media screen and (min-width: 870px) and (max-width: 974px) {
  .maybe-table {
    top: 352px;
  }
}

@media screen and (min-width: 584px) and (max-width: 870px) {
  .maybe-table {
    top: 407px;
  }
}
@media screen and (min-width: 400px) and (max-width: 584px) {
  .maybe-table {
    top: 399px;
  }
}